name: pyinstaller package for windows

on:
  push:
    paths:
      - "**.py"
      - "**.yml"
  pull_request:
    paths:
      - "**.py"
      - "**.yml"

jobs:
  build-win32:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: package app
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: src

    - uses: actions/upload-artifact@v2
      with:
        name: ed8pkg2glb-win32
        path: src/dist/windows

  create-release:
    needs: [build-win32]
    runs-on: ubuntu-20.04
    if: startsWith(github.ref, 'refs/tags/v')
    steps:

    - name: Download win32 artifact
      uses: actions/download-artifact@v1
      with:
        name: ed8pkg2glb-win32

    - name: Prepare artifacts for release
      run: |
        7z a -tzip ed8pkg2glb-win32.zip ed8pkg2glb-win32/*

    - name: Create release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: "${{ contains(github.ref, '-rc') }}"
        files: |
          ed8pkg2glb-win32.zip

